<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <style>

    </style>
</head>

<body class="text-center">
<main>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Первый ToDo сервис МИРЭА</h1>
            <p class="lead text-muted">Добро пожаловать на страницу нашего сервиса. Пожалуйста, выберите интересующий Вас раздел</p>
            <p>
                <a href="/entrance/registration" class="btn btn-primary my-2">Регистрация</a>
                <a href="/entrance" class="btn btn-secondary my-2">Вход</a>
            </p>
        </div>
    </div>
</section>

</main>
</body>



</html>