<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="${title}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
  <style>

  </style>
</head>

<body class="text-center">
<header th:insert="TaskManager/header :: header"></header>

<div class="container mt-5">
  <h1>Записи</h1>
  <div th:each="note : ${note}" class="alert alert-info mt-2">
    <h3 th:text="${note.GetTitle()}"/>
    <p th:text="${note.GetText()}"/>
    <a th:href="'/main/notes/' + ${note.GetId()} +'/edit'">Редактировать</a>
    <form th:action="'/main/notes/' + ${note.GetId()} +'/remove'" method="post">
      <button th:href="'/main/notes/' + ${note.GetId()} +'/remove'" type="submit">Удалить</button>
    </form>
  </div>
</div>

</body>

</html>